<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VinayakSuleyDotCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="VSDotComEntities" connectionString="metadata=res://*/Models.VSDotCom.csdl|res://*/Models.VSDotCom.ssdl|res://*/Models.VSDotCom.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\VSDotCom.MDF;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <trace enabled="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <VinayakSuleyDotCom.Properties.Settings>
      <setting name="TypicalProcessingTimeInDays" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PhotoCatalogFolder" serializeAs="String">
        <value>Images/PhotoCatalog</value>
      </setting>
      <setting name="SmallThumbsFolder" serializeAs="String">
        <value>SmallThumbs</value>
      </setting>
      <setting name="MediumThumbsFolder" serializeAs="String">
        <value>MediumThumbs</value>
      </setting>
      <setting name="OriginalFileFolder" serializeAs="String">
        <value>OriginalFiles</value>
      </setting>
      <setting name="SmallEdge" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="MediumEdge" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="DefaultPreference" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PhotoClusterSize" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DefaultRecentDays" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="GalleryMaxHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="GalleryInterPhotoGap" serializeAs="String">
        <value>5</value>
      </setting>
    </VinayakSuleyDotCom.Properties.Settings>
  </applicationSettings>
</configuration>